<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- Configuration section-handler declaration area. -->
    <configSections>
        <section name="Last.fm.API.Core.Settings.LastFmSettings"
                 type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    <!-- Configuration section settings area. -->
    <Last.fm.API.Core.Settings.LastFmSettings>
        <setting name="ApiKey" serializeAs="String">
            <value></value>
        </setting>
        <setting name="ApiSig" serializeAs="String">
            <value></value>
        </setting>
        <setting name="OperationTimeout" serializeAs="String">
            <value>00:01:00</value>
        </setting>
        <setting name="Token" serializeAs="String">
            <value></value>
        </setting>
        <setting name="AutoSaveWhenTokeChanged" serializeAs="String">
            <value>false</value>
        </setting>
        <!--<setting name="ConfigFile" serializeAs="String">
            <value>last.mf.xml</value>
        </setting>-->
    </Last.fm.API.Core.Settings.LastFmSettings>
    <!-- Other configuration settings, such as system.web -->
</configuration>